<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 99%;
}

td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>

</head>
<body style="background-color:lightsteelblue;">
<h2>Custom fields</h2>

<table style="background-color: white;">
  <tr>
    <td style="color:dodgerblue;"><a href="/Location.html">Location</a></td>
  </tr>
  <tr>
    <td style="color: dodgerblue;"> <a href="#">Organistaion</a> </td>
  </tr>
  <tr>
    <td style="color: dodgerblue;"> <a href="#">Users</a> </td>   
  </tr>
  <tr>
    <td style="color:dodgerblue"> <a href="#">Catering</a> </td>
  </tr>
  <tr>
    <td style="color: dodgerblue;"> <a href="#"> Finance</a></td>
  </tr>
  <tr>
    <td style="color: dodgerblue;"> <a href="#">Events</a> </td>
  </tr>
  <tr>
 <td>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
 </td>
  </tr>
</table>
</body>
</html>

