<div>

    <form action="/action_page.php">
        <label for="fname">Name:</label><br>
        <input type="text" id="fname" name="fname" value="Pratik"><br>
        <label for="lname">Description:</label><br>
        <input type="text" id="lname" name="lname" value="SDE"><br><br>
        <input type="submit" value="Submit">
        <label for="fname">Class:</label><br>
        <input type="text" id="fname" name="fname" value="Graduate"><br>
        <label for="fname">Type:</label><br>
        <input type="text" id="fname" name="fname" value="sde1"><br>

        <label for="fname">Code:</label><br>
        <input type="text" id="fname" name="fname" value="full stack"><br>
        
      </form> 
      

</div>
